.grid {
display: flex;
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: 1fr 1fr 1fr;

}
.grid > * {
background: orange;
width: 100%;
}
.grid > [style^='--aspect-ratio']::before {
content: "";
display: inline-block;
width: 1px;
height: 0;
padding-bottom: calc(100% / (var(--aspect-ratio)));
}
.cell {
color: black;
font-size: 3rem;
text-align: center;
padding: 4rem;
}
.cell-1 {
    border: solid black;
}
.cell-1:hover {
background: rgb(238, 237, 237);
border: solid black;
}
.cell-2 {
    border: solid black;
}
.cell-2:hover {
background: rgb(238, 237, 237);
border: solid black;
}
.cell-3 {
    border: solid black;
}
.cell-3:hover {
background: rgb(238, 237, 237);
border: solid black;
}
.cell-4 {
    border: solid black;
}
.cell-4:hover {
background: rgb(238, 237, 237);
border: solid black;
}
.cell-5 {
    border: solid black;
}
.cell-5:hover {
background: rgb(238, 237, 237);
border: solid black;
}
.cell-6 {
    border: solid black;
}
.cell-6:hover {
background: rgb(238, 237, 237);
border: solid black;
}
.cell-7 {
    border: solid black;
}
.cell-7:hover {
background: rgb(238, 237, 237);
border: solid black;
}
.cell-8 {
    border: solid black;
}
.cell-8:hover {
background: rgb(238, 237, 237);
border: solid black;
}
.cell-0 {
    border: solid black;
}
.cell-0:hover {
background: rgb(238, 237, 237);
border: solid black;
}
.restart  {
    display:flex;
    justify-content: center;
    align-items:center;
}